* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --bckg-color: #F5F5F5;
  --nav-bckg: rgb(235, 235, 235);
  --lightgreen: #2fff28;
  --title: rgb(44, 188, 44);
}

body, html {
  background-color: var(--bckg-color);
}

.logo {
  width: 40px;
  height: 40px;
}

.carousel{
  margin-top: 4rem;
}
.carroussel-image, .card-img-top{
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.card-img-top{
  height: 250px;
}

.carroussel-image{
  height: 75vh;
}

.carousel-item::before{
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, black);
  position: absolute;
}

h1.title{
  color: var(--title);
}

.col{
  justify-content: center;
  display: flex;
}
.light-green{
  color: var(--lightgreen);
}